IndentWidth: 4
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
MaxEmptyLinesToKeep: 2
ColumnLimit: 110
SpaceBeforeAssignmentOperators: true
SpacesInParentheses: false
